.error
{
    border: 1px solid red;
}

.boton
{
    position: relative;
    display: inline-block;
    width: 25px;
    height: 22px;
    margin: 0;
    padding: 0;
    background: url("../img/icon-sprite-3.jpg");
}

.borrar
{
    background-position-x: -555px;
    background-position-y: -18px;    
}

.modificar
{
    background-position-x: -330px;
    background-position-y: -150px;
}